<% include ../partials/header %>


  <div class="todo">

    <p class="title"><%= data.title %></p>
    <span class="completion <%- data.completion === 'done'? 'done' : 'to-do' %>">
      [<%= data.completion %>]
    </span>
    <p class="category"><%= data.category %></p>

    <p class="description"><%= data.description %></p>

    <div class="inputs">
      <a href="/todos">< BACK</a>
      <a href="/todos/edit/<%= data.id %>">EDIT</a>
      <form action="/todos/<%= data.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    </div>

  </div>

<% include ../partials/footer %>
